{% extends 'base.html' %}

{% block title %}Алханай{% endblock %}

{% block content %}

<p>
Алханай – это живописный горный массив, величественно возвышающийся над просторами степных и лесостепных ландшафтов юга Забайкальского края.

Привлекает туристов наличием целебных минеральных источников, буддийскими святынями алханайского природно-культового комплекса.

Площадь парка - 141907 га. На территории парка можно встретить: 960 видов растений, 73 вида млекопитающих, 182 вида птиц, 4 вида рептилий, 4 вида земноводных, 20 видов рыб, 403 вида насекомых.</p>

<a href="/showplace" class="btn btn-danger">Вернуться к достопримечательностям</a>

<a href="templates/image.jpeg">
  <svg width="30" height="30">
    <path d="..."/>
  </svg>
  <span class="visually-hidden">Вконтакте</span>
</a>

{% endblock %}