{% extends 'base.html' %}

{% block title %}Программа{% endblock %}

{% block content %}
<h1>Программа для повышения уровня знаний</h1>

<p>Ваш уровень средний. Вы уже неплохо знаете английский, но мы предлагаем вам повысить свой уровень знаний.
Вы можете поработать над повышением словарного запаса и изучить эти слова.</p>
<p>Таблица глаголов - verbs</p>
<table>
    <tr>
        <td>английский</td>
        <td>русский</td>
        <td>транскрипция</td>
    </tr>
    <tr>
        <td>to abolish</td>
        <td>отменять, уничтожать, упразднять</td>
        <td>[əˈbɒlɪʃ]</td>
    </tr>
    <tr>
        <td>to approve</td>
        <td>утвердить, одобрить</td>
        <td>[əˈpruːv]</td>
    </tr>
    <tr>
        <td>to boast</td>
        <td>гордиться, хвастаться</td>
        <td>[bəʊst]]</td>
    </tr>
    <tr>
        <td>to contribute</td>
        <td>жертвовать, вносить свой вклад</td>
        <td>[kənˈtrɪbju(ː)t]</td>
    </tr>
    <tr>
        <td>to deliver</td>
        <td>доставлять, поставлять, приносить</td>
        <td>[dɪˈlɪvə]</td>
    </tr>
        <tr>
        <td>to distract</td>
        <td>отвлечь, отвлекать</td>
        <td>[dɪsˈtrækt]</td>
    </tr>
        <tr>
        <td>to torture</td>
        <td>мучить, терзать</td>
        <td>[ˈtɔːʧə]</td>
    </tr>
        <tr>
        <td>to confuse</td>
        <td>путать, запутать, сбить с толку</td>
        <td>[kənˈfjuːz]</td>
    </tr>
        <tr>
        <td>to escape</td>
        <td>совершить побег, убежать, сбежать</td>
        <td>[ɪsˈkeɪp]</td>
    </tr>
        <tr>
        <td>to elaborate</td>
        <td>разрабатывать, прорабатывать</td>
        <td>[ɪˈlæbərɪt]</td>
    </tr>
        <tr>
        <td>to squeeze</td>
        <td>сжимать, выжимать, сжать</td>
        <td>[skwiːz]</td>
    </tr>
        <tr>
        <td>to commit</td>
        <td>совершить, зафиксировать, поручить</td>
        <td>[kəˈmɪt]</td>
    </tr>
        <tr>
        <td>to exchange</td>
        <td>обменивать, менять</td>
        <td>[ɪksˈʧeɪnʤ]</td>
    </tr>
      <tr>
        <td>to earn</td>
        <td>зарабатывать</td>
        <td>[ɜːn]</td>
    </tr>
     <tr>
        <td>to observe</td>
        <td>наблюдать</td>
        <td>[əbˈzɜːv]</td>
    </tr>

</table>
<p>Таблица существительных - nouns</p>
<table>
    <tr>
        <td>английский</td>
        <td>русский</td>
        <td>транскрипция</td>
    </tr>
    <tr>
        <td>district</td>
        <td>район</td>
        <td>[ˈdɪstrɪkt]</td>
    </tr>
    <tr>
        <td>sway</td>
        <td>колебание</td>
        <td>[sweɪ]</td>
    </tr>
    <tr>
        <td>delivery</td>
        <td>доставка</td>
        <td>[dɪˈlɪvəri]</td>
    </tr>
    <tr>
        <td>addiction</td>
        <td>зависимость, пристрастие</td>
        <td>[əˈdɪkʃ(ə)n]</td>
    </tr>
    <tr>
        <td>commission</td>
        <td>комиссия, поручение, заказчик</td>
        <td>[kəˈmɪʃən]</td>
    </tr>
        <tr>
        <td>confidence</td>
        <td>доверие, уверенность, достоверность</td>
        <td>[ˈkɒnfɪdəns]</td>
    </tr>
        <tr>
        <td>connection</td>
        <td>соединение</td>
        <td>[kəˈnɛkʃən]</td>
    </tr>
        <tr>
        <td>influence</td>
        <td>влияние</td>
        <td>[ˈɪnflʊəns]</td>
    </tr>
        <tr>
        <td>fortune</td>
        <td>судьба, удача, желание, успех</td>
        <td>[ˈfɔːʧən]</td>
    </tr>
        <tr>
        <td>inequality</td>
        <td>неравенство</td>
        <td>[ɪni(ː)ˈkwɒlɪti]</td>
    </tr>
        <tr>
        <td>devotion</td>
        <td>преданность</td>
        <td>[dɪˈvəʊʃən]</td>
    </tr>
        <tr>
        <td>willpower</td>
        <td>сила воли</td>
        <td>[ˈwɪlˌpaʊə]</td>
    </tr>
</table>
<p>Таблица прилагательных - adjectives</p>
<table>
    <tr>
        <td>английский</td>
        <td>русский</td>
        <td>транскрипция</td>
    </tr>
    <tr>
        <td>civilian</td>
        <td>гражданский</td>
        <td>[səˈvɪljən]</td>
    </tr>
    <tr>
        <td>commercial</td>
        <td>коммерческий</td>
        <td>[kəˈmɜːʃəl]</td>
    </tr>
    <tr>
        <td>convenient</td>
        <td>удобный</td>
        <td>[kənˈviːniənt]</td>
    </tr>
    <tr>
        <td>valuable</td>
        <td>ценный</td>
        <td>[ˈvæljʊəbl]</td>
    </tr>
    <tr>
        <td>recent</td>
        <td>недавний</td>
        <td>[ˈriːsnt]</td>
    </tr>
        <tr>
        <td>compliant</td>
        <td>соответствующий</td>
        <td>[kəmˈplaɪənt]</td>
    </tr>
        <tr>
        <td>unmatched</td>
        <td>неповторимый, непревзойденный</td>
        <td>[ʌnˈmæʧt]</td>
    <tr>
        <td>numerous</td>
        <td>многочисленный</td>
        <td>[ˈnjuːmərəs]</td>
    </tr>
        <tr>
        <td>precise</td>
        <td>точный, четкий</td>
        <td>[prɪˈsaɪs]</td>
    </tr>
        <tr>
        <td>fitting</td>
        <td>подходящий</td>
        <td>[ˈfɪtɪŋ]</td>
    </tr>
        <tr>
        <td>astonishing</td>
        <td>удивительный, изумительный</td>
        <td>[əsˈtɒnɪʃɪŋ]</td>
    </tr>
        <tr>
        <td>remarkable</td>
        <td>замечательный, примечательный, выдающийся</td>
        <td>[rɪˈmɑːkəbl]</td>
    </tr>
</table>

<a href="/middletext" class="btn btn-danger">Перейти к тексту</a>
<a href="/avfilm"     class="btn btn-danger">Перейти к фильму</a>
{% endblock %}