{% extends 'base.html' %}
{% block title %}Результат{% endblock %}
{% block content %}
<h1>Ознакомьтесь с результатами теста</h1>
<p>{{level}} </p>
<img src="{{ url_for('static', filename='learn.jpg') }}" alt="Изображение города Читы" class="img-fluid" width="900" height="900">
<div style="text-align: center; margin-top: 20px;">
    <p>Выберите программу в соответствии с уровнем </p>
    <a href="/program" class="btn btn-danger">Новичок</a>
    <a href="/avprogram" class="btn btn-danger">Средний</a>
    <a href="/highprogram" class="btn btn-danger">Продвинутый</a>
</div>
{% endblock %}