{% extends 'base.html' %}

{% block title %}Программа{% endblock %}

{% block content %}
<h1>Программа для повышения уровня знаний</h1>

<p>Ваш уровень продвинутый. Вы владеете английским на достаточно высоком уровне.
    Мы можем вам предложить дополнительно поработать над следующими словами, чтобы отточить свое мастерство.
</p>
<p>Таблица глаголов - verbs</p>
<table>
    <tr>
        <td>английский</td>
        <td>русский</td>
        <td>транскрипция</td>
    </tr>
    <tr>
        <td>to abate</td>
        <td>сокращать, уменшать, ослаблять</td>
        <td>[tə biː]</td>
    </tr>
    <tr>
        <td>to abscond</td>
        <td>скрыться, пропасть, уйти</td>
        <td>[əbˈskɒnd]</td>
    </tr>
    <tr>
        <td>to disabuse</td>
        <td>разочаровать, расстроить, развенчать</td>
        <td>[ˌdɪsəˈbjuːz]</td>
    </tr>
    <tr>
        <td>to diminish</td>
        <td>уменьшать</td>
        <td>[dɪˈmɪnɪʃ]</td>
    </tr>
    <tr>
        <td>to depict</td>
        <td>отобразить</td>
        <td>[dɪˈpɪkt]</td>
    </tr>
        <tr>
        <td>to contrive</td>
        <td>придумывать</td>
        <td>[kənˈtraɪv]</td>
    </tr>
    </tr>
        <tr>
        <td>to prevail</td>
        <td>преобладать</td>
        <td>[prɪˈveɪl]</td>
    </tr>
    </tr>
        <tr>
        <td>to lease</td>
        <td>сдать в аренду</td>
        <td>[liːs]</td>
    </tr>
    </tr>
        <tr>
        <td>to reminisce</td>
        <td>вспоминать</td>
        <td>[ˌrɛmɪˈnɪs]</td>
    </tr>
    </tr>
        <tr>
        <td>to infiltrate</td>
        <td>проникнуть</td>
        <td>[ˈɪnfɪltreɪt]</td>
    </tr>
    </tr>
        <tr>
        <td>to coax</td>
        <td>соединить</td>
        <td>[kəʊks]]</td>
    </tr>
        <tr>
        <td>to waver</td>
        <td>колебаться</td>
        <td>[ˈweɪvə]</td>
    </tr>
         <tr>
        <td>to render</td>
        <td>оказывать</td>
        <td>[ˈrɛndə]</td>
    </tr>
         <tr>
        <td>to anchor</td>
        <td>бросить якорь</td>
        <td>[ˈæŋkə]</td>
    </tr>
         <tr>
        <td>to outline</td>
        <td>начертить, обрисовать, наметить</td>
        <td>[ˈaʊtlaɪn]</td>
    </tr>
         <tr>
        <td>to thrill</td>
        <td>возбуждать</td>
        <td>[θrɪl]</td>
    </tr>
         <tr>
        <td>to follow-up</td>
        <td>следить</td>
        <td>[ˈfɒləʊˈʌp]</td>
    </tr>

</table>
<p>Таблица существительных - nouns</p>
<table>
    <tr>
        <td>английский</td>
        <td>русский</td>
        <td>транскрипция</td>
    </tr>
    <tr>
        <td>axis</td>
        <td>ось</td>
        <td>[ˈæksɪs]</td>
    </tr>
    <tr>
        <td>modality</td>
        <td>метод, форма</td>
        <td>[məʊˈdælɪti]</td>
    </tr>
    <tr>
        <td>discerning</td>
        <td>распознавание</td>
        <td>[dɪˈsɜːnɪŋ]</td>
    </tr>
    <tr>
        <td>similarity</td>
        <td>сходство, подобие, аналогия</td>
        <td>[sɪmɪˈlærɪti]</td>
    </tr>
    <tr>
        <td>pattern</td>
        <td>образец, модель, схема</td>
        <td>[pætən]</td>
    </tr>
        <tr>
        <td>sequencing</td>
        <td>последовательность, порядок, упорядочивание</td>
        <td>[ˈsiːkwənsɪŋ]</td>
    </tr>
        <tr>
        <td>anthropologist</td>
        <td>антрополог</td>
        <td>[ˌænθrəˈpɒləʤɪst]</td>
    </tr>
        <tr>
        <td>oversight</td>
        <td>надзор, контроль</td>
        <td>[ˈəʊvəsaɪt]</td>
    </tr>
        <tr>
        <td>exhibition</td>
        <td>выставка</td>
        <td>[ˌɛksɪˈbɪʃən]</td>
    </tr>
        <tr>
        <td>unveiling</td>
        <td>разоблачение, раскрытие</td>
        <td>[ʌnˈveɪlɪŋ]</td>
    </tr>
        <tr>
        <td>implication</td>
        <td>следствие, последствие, подтекст, влияние</td>
        <td>[ˌɪmplɪˈkeɪʃən]</td>
    </tr>
        <tr>
        <td>instance</td>
        <td>экземпляр, объект, вариант</td>
        <td>[ˈɪnstəns]</td>
    </tr>
        <tr>
        <td>cognition</td>
        <td>познание</td>
        <td>[kɒgˈnɪʃən]</td>
    </tr>
         <tr>
        <td>offspring</td>
        <td>потомство</td>
        <td>[ˈɒfsprɪŋ]</td>
    </tr>
</table>
<p>Таблица прилагательных - adjectives</p>
<table>
    <tr>
        <td>английский</td>
        <td>русский</td>
        <td>транскрипция</td>
    </tr>
    <tr>
        <td>astonishing</td>
        <td>поразительный</td>
        <td>[əsˈtɒnɪʃɪŋ]</td>
    </tr>
    <tr>
        <td>quintessential</td>
        <td>полный, оригинальный</td>
        <td>[ˌkwɪntɪˈsɛnʃəl]</td>
    </tr>
    <tr>
        <td>subsequent</td>
        <td>последующий, дальнейший</td>
        <td>[ˈsʌbsɪkwənt]</td>
    </tr>
    <tr>
        <td>apparent</td>
        <td>очевидный</td>
        <td>[əˈpærənt]</td>
    </tr>
    <tr>
        <td>excessive</td>
        <td>чрезмерный, избыточный</td>
        <td>[ɪkˈsɛsɪv]</td>
    </tr>
        <tr>
        <td>resilient</td>
        <td>устойчивый, упругий, эластичный</td>
        <td>[rɪˈzɪlɪənt]</td>
    </tr>
        <tr>
        <td>adverse</td>
        <td>неблагоприятный, негативный</td>
        <td>[ˈædvɜːs]</td>
    <tr>
        <td>grim</td>
        <td>мрачный, грозный</td>
        <td>[grɪm]</td>
    </tr>
        <tr>
        <td>scarce</td>
        <td>скудный, дефицитный</td>
        <td>[skeəs]</td>
    </tr>
        <tr>
        <td>irrefutable</td>
        <td>неопровержимый</td>
        <td>[ɪˈrɛfjʊtəbl]</td>
    </tr>
        <tr>
        <td>vicious</td>
        <td>злобный, порочный, ужасный</td>
        <td>[ˈvɪʃəs]</td>
    </tr>
        <tr>
        <td>indecisive</td>
        <td>нерешительный, неопределенный, неясный</td>
        <td>[ˌɪndɪˈsaɪsɪv]</td>
    </tr>
</table>
<p>Для лучшего запоминания слов рекомендуем перевести текст который содержит данные слова </p>
<a href="/hightext" class="btn btn-danger">Перейти к тексту</a>
{% endblock %}