{% extends 'base.html' %}

{% block title %}Программа{% endblock %}

{% block content %}
<h1>Программа для повышения уровня знаний</h1>

<p>Ваш уровень новичок но не расстраивайтесь, мы поможем вам улучшить ваши знания.
Ниже представлены таблицы различных частей речи  в английском с переводом и транскрипцией. Советуем вам изучить их.</p>
<p>Таблица глаголов - verbs</p>
<table>
    <tr>
        <td>английский</td>
        <td>русский</td>
        <td>транскрипция</td>
    </tr>
    <tr>
        <td>to be</td>
        <td>быть</td>
        <td>[tə biː]</td>
    </tr>
    <tr>
        <td>to do</td>
        <td>делать</td>
        <td>[du]</td>
    </tr>
    <tr>
        <td>to feel</td>
        <td>чуствовать</td>
        <td>[fiːl]</td>
    </tr>
    <tr>
        <td>to see</td>
        <td>видеть</td>
        <td>[siː]</td>
    </tr>
    <tr>
        <td>to hear</td>
        <td>слышать</td>
        <td>[hɪər]</td>
    </tr>
        <tr>
        <td>to run</td>
        <td>бегать</td>
        <td>[rʌn]</td>
    </tr>
        <tr>
        <td>to get</td>
        <td>получать</td>
        <td>[ɡet]</td>
    </tr>
        <tr>
        <td>to make</td>
        <td>делать</td>
        <td>[meɪk]</td>
    </tr>
        <tr>
        <td>to cook</td>
        <td>готовить</td>
        <td>[kʊk]</td>
    </tr>
        <tr>
        <td>to sing</td>
        <td>петь</td>
        <td>[sɪŋ]</td>
    </tr>
        <tr>
        <td>to speak</td>
        <td>разговаривать</td>
        <td>[spiːk]</td>
    </tr>
        <tr>
        <td>to stand</td>
        <td>стоять</td>
        <td>[stænd]</td>
    </tr>
        <tr>
        <td>to know</td>
        <td>знать</td>
        <td>[nəʊ]</td>
    </tr>
        <tr>
        <td>to try</td>
        <td>пробовать</td>
        <td>[traɪ]</td>
    </tr>
        <tr>
        <td>to find</td>
        <td>находить</td>
        <td>[faɪnd]</td>
    </tr>
        <tr>
        <td>to ask</td>
        <td>спрашивать</td>
        <td>[æsk]</td>
    </tr>
        <tr>
        <td>to want</td>
        <td>хотеть</td>
        <td>[wɑnt]</td>
    </tr>
        <tr>
        <td>to work</td>
        <td>работать</td>
        <td>[wɜrk]</td>
    </tr>
        <tr>
        <td>to use</td>
        <td>использовать</td>
        <td>[juz]</td>
    </tr>
        <tr>
        <td>to need</td>
        <td>нуждаться</td>
        <td>[nid]</td>
    </tr>
        <tr>
        <td>to help</td>
        <td>помогать</td>
        <td>[hɛlp]</td>
    </tr>
        <tr>
        <td>to read</td>
        <td>читать</td>
        <td>[rid]</td>
    </tr>
        <tr>
        <td>to look</td>
        <td>смотреть</td>
        <td>[lʊk]</td>
    </tr>
        <tr>
        <td>to tell</td>
        <td>рассказывать</td>
        <td>[tɛl]</td>
    </tr>
        <tr>
        <td>to open</td>
        <td>открывать</td>
        <td>[ˈoʊpən]</td>
    </tr>
        <tr>
        <td>to call</td>
        <td>звонить</td>
        <td>[kɔl]</td>
    </tr>
        <tr>
        <td>to sleep</td>
        <td>спать</td>
        <td>[slip]</td>
    </tr>
        <tr>
        <td>to play</td>
        <td>играть</td>
        <td>[pleɪ]</td>
    </tr>
        <tr>
        <td>to sit</td>
        <td>сидеть</td>
        <td>[sɪt]</td>
    </tr>

        <tr>
        <td>to watch</td>
        <td>смотреть</td>
        <td>[wɑʧ]</td>
    </tr>
</table>
<p>Таблица местоимений - pronouns</p>
<table>
    <tr>
        <td>английский</td>
        <td>русский</td>
        <td>транскрипция</td>
    </tr>
     <tr>
        <td>You</td>
        <td>Ты</td>
        <td>[juː]</td>
    </tr>
    <tr>
        <td>I</td>
        <td>Я</td>
        <td>[ˈaɪ]</td>
    </tr>
    <tr>
        <td>He</td>
        <td>Оно</td>
        <td>[hiː]</td>
    </tr>
    <tr>
        <td>She</td>
        <td>Она</td>
        <td>[ʃiː]</td>
    </tr>
    <tr>
        <td>It</td>
        <td>Оно</td>
        <td>[ɪt]</td>
    </tr>
    <tr>
        <td>We</td>
        <td>Мы</td>
        <td>[wiː]</td>
    </tr>
        <tr>
        <td>They</td>
        <td>они</td>
        <td>[ðeɪ]</td>
    </tr>
</table>
<p>Таблица прилагательных - adjectives</p>
<table>
    <tr>
        <td>английский</td>
        <td>русский</td>
        <td>транскрипция</td>
    </tr>
     <tr>
        <td>angry</td>
        <td>сердитый</td>
        <td>[ˈæŋɡri]</td>
    </tr>
    <tr>
        <td>strange</td>
        <td>странный, незнакомый, чужой</td>
        <td>[streɪndʒ]</td>
    </tr>
    <tr>
        <td>short</td>
        <td>короткий</td>
        <td>[ʃɔːt]</td>
    </tr>
    <tr>
        <td>remote</td>
        <td>удаленный</td>
        <td>[rɪˈməʊt]</td>
    </tr>
    <tr>
        <td>blue</td>
        <td>голубой</td>
        <td>[blu]</td>
    </tr>
    <tr>
        <td>red</td>
        <td>красный</td>
        <td>[rɛd]</td>
    </tr>
        <tr>
        <td>easy</td>
        <td>легкий</td>
        <td>[ˈiːzi]</td>
    </tr>
        <tr>
        <td>guilty</td>
        <td>виновный</td>
        <td>[ˈɡɪlti]</td>
    </tr>
        <tr>
        <td>free</td>
        <td>свободный</td>
        <td>[friː]</td>
    </tr>
        <tr>
        <td>recent</td>
        <td>недавний</td>
        <td>[ˈriːsnt]</td>
    </tr>
        <tr>
        <td>relevant</td>
        <td>релевантный, актуальный</td>
        <td>[ˈreləvənt]</td>
    </tr>
        <tr>
        <td>safe</td>
        <td>безопасный</td>
        <td>[seɪf]</td>
    </tr>
         <tr>
        <td>curious</td>
        <td>любопытный</td>
        <td>[ˈkjʊəriəs]</td>
    </tr>
         <tr>
        <td>asleep</td>
        <td>спящий</td>
        <td>[əˈsliːp]</td>
    </tr>
          <tr>
        <td>quiet</td>
        <td>тихий</td>
        <td>[ˈkwaɪət]</td>
    </tr>
</table>
<p>Таблица существительных - nouns</p>
<table>
    <tr>
        <td>английский</td>
        <td>русский</td>
        <td>транскрипция</td>
    </tr>
     <tr>
        <td>boy</td>
        <td>мальчик</td>
        <td>[bɔɪ]</td>
    </tr>
    <tr>
        <td>girl</td>
        <td>девочка</td>
        <td>[ɡɜrl]</td>
    </tr>
    <tr>
        <td>friend</td>
        <td>друг</td>
        <td>[frɛnd]</td>
    </tr>
    <tr>
        <td>life</td>
        <td>жизнь</td>
        <td>[laɪf]</td>
    </tr>
    <tr>
        <td>night</td>
        <td>ночь</td>
        <td>[naɪt]</td>
    </tr>
    <tr>
        <td>day</td>
        <td>день</td>
        <td>[deɪ]</td>
    </tr>
        <tr>
        <td>time</td>
        <td>время</td>
        <td>[taɪm]</td>
    </tr>
        <tr>
        <td>food</td>
        <td>еда</td>
        <td>[ðeɪ]</td>
    </tr>
        <tr>
        <td>movie</td>
        <td>фильм</td>
        <td>[ˈmuvi]</td>
    </tr>
    </tr>
        <tr>
        <td>English</td>
        <td>английский</td>
        <td>[ˈɪŋɡlɪʃ]</td>
    </tr>
        <tr>
        <td>sound</td>
        <td>звук</td>
        <td>[saʊnd]</td>
    </tr>
        <tr>
        <td>song</td>
        <td>песня</td>
        <td>[sɔŋ]</td>
    </tr>
        <tr>
        <td>school</td>
        <td> школа</td>
        <td>[skul]</td>
    </tr>
        <tr>
        <td>color</td>
        <td>цвет</td>
        <td>[ˈkʌlər]</td>
    </tr>
        <tr>
        <td>sky</td>
        <td>небо</td>
        <td>[skaɪ]</td>
    </tr>
</table>
<p>Таблица неправильных глаголов - irregular verbs. К глаголам, не входящим в эту таблицу в прошедшем уровне добавляется окончание ed.</p>
<img src="{{ url_for('static', filename='table.png') }}" alt="Изображение города Читы" class="img-fluid">
<p>Для лучшего закрепления пройденных слов рекомендуем прочитать и перевести текст, а также посмотреть фильмы которые позволят лучше понимать английскую речь</p>
<a href="/text" class="btn btn-danger">Перейти к тексту</a>
<a href="/film" class="btn btn-danger">Перейти к фильму</a>
{% endblock %}